@using firstMVC.Models.Forms
@model string

<style>
    a{
       color:blue
    }
    a:hover{
        color:brown
    }
</style>

@{
    ViewData["Title"] = "Доступ заборонено";
    var returnUrl = Context.Request.Query["returnUrl"];
}
<h1 class="display-1 text-danger">@ViewData["Title"]</h1>
<div>У вас не достатньо прав для доступу до сторінки <a href="@returnUrl">@returnUrl</a></div>
