@using System.Security.Claims
@using firstMVC.Models.Forms
@model Customer
@{
    ViewData["Title"] = "Особистий кабінет";
    var changePassword = ViewData["ChangePassword"] as ChangePasswordForm;

    var roles = User.Claims.Where(x => x.Type == ClaimTypes.Role).Select(x => x.Value).ToList();
}

@* modal window *@

<div class="modal fade" id="profile-form-modal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

    </div>
</div>



@* about user *@

<h2>Загальна інформація</h2>
<table class="table">
    <tr>
        <th>Повне ім'я</th>
        <td>@Model.FullName</td>
    </tr>
    <tr>
        <th>Електронна пошта</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Ролі</th>
        <td>
            @if(roles.Count == 0){
                <span>Ролей немає</span>
            }
            @for(int i = 0; i<roles.Count; i++)
            {
                    @roles[i]
                    @if (i != roles.Count - 1) {<span>,&nbsp;</span>}
            }
        </td>
    </tr>
</table>

@* data change *@


<button class="btn btn-outline-success" id="change-data" style="width:70%; padding:0; margin:40px auto 10px; display:block">Змінити дані</button>


@* password change *@


<button class="btn btn-outline-primary" id="change-password" style="width:70%; padding:0; margin:10px auto; display:block">Змінити пароль</button>




@section Scripts {
    <script>

        var selectedRate;

        var myModal = new bootstrap.Modal(document.getElementById('profile-form-modal'), {
            keyboard: false
        })

        $('#change-password')
            .on('click', e => {
                let id = $(e.target).data('id')
                fetch(`/Profile/ChangePasswordFormModalAjax`).then(r => r.text()).then(html => {
                    $('#profile-form-modal .modal-dialog').html(html)
                    myModal.show()
                })
            })

        $('#change-data')
            .on('click', e => {
                let id = $(e.target).data('id')
                fetch(`/Profile/ChangeDataFormModalAjax`).then(r => r.text()).then(html => {
                    $('#profile-form-modal .modal-dialog').html(html)
                    myModal.show()
                })
            })
    </script>
}