@model Skill
<h2>Skill properties</h2>
<form method="post">
    <div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control">
    <span style="color:red">
        @Html.ValidationMessageFor(x => x.Name)
        <br/>
    </span>
    </div>
    <button type="submit" class="btn btn-outline-success">Відправити</button>
</form>