@using firstMVC.Models.Forms
@model SkillForm
@{
    ViewData["Title"] = "Форма навички";
}
<h2>Skill properties</h2>
<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control">
    <span style="color:red">
        @Html.ValidationMessageFor(x => x.Name)
        <br/>
    </span>
    <label asp-for="Image" class="form-label"></label>
    <input asp-for="Image" class="form-control" type="file" accept="image/*" >
    <span style="color:red">
        @Html.ValidationMessageFor(x => x.Image)
        <br />
    </span>
    </div>
    <button type="submit" class="btn btn-outline-success">Відправити</button>
</form>