@model LoginForm
@{
    ViewData["Title"] = "Вхід";
}
<h2>Вхід</h2>
<form method="post">
    <div class="mb-3">
    <label asp-for="Email" class="form-label"></label>
    <input asp-for="Email" class="form-control">
    <span style="color:red">
        @Html.ValidationMessageFor(x => x.Email)
        <br/>
    </span>
    <label asp-for="Password" class="form-label"></label>
    <input asp-for="Password" class="form-control" type="password">
    <span style="color:red">
        @Html.ValidationMessageFor(x => x.Password)
        <br/>
    </span>
    </div>
    <button type="submit" class="btn btn-outline-success">Увійти</button>
    <a asp-area="Auth" asp-controller="Account" asp-action="Register" asp-route-ReturnUrl="@Context.Request.Query["returnUrl"]" class="btn btn-outline-primary">Реєстрація</a>
</form>