@using firstMVC.Models.Forms
@model ResetPasswordForm
@{
    var user = ViewData["User"] as Customer;
    ViewData["Title"] = "Зкидування паролю";
}

<h2>Зкидування паролю корисутвача @user.UserName</h2>
<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
    <label asp-for="Password" class="form-label"></label>
    <input asp-for="Password" class="form-control" type="password">
    <span style="color:red">
        @Html.ValidationMessageFor(x => x.Password)
        <br/>
    </span>
    <label asp-for="ConfirmPassword" class="form-label"></label>
    <input asp-for="ConfirmPassword" class="form-control" type="password" >
    <span style="color:red">
        @Html.ValidationMessageFor(x => x.ConfirmPassword)
        <br />
    </span>
    </div>
    <button type="submit" class="btn btn-outline-success">Змінити</button>
</form>